@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #1c1c21;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	width: 100%;
	
}

binnencontainer {
    max-width: 1200px !important;
    text-align: center;
    float: none;
    margin: 0 auto;
    display: inherit;
}

buitenbalk {
    width: 100%;
    background-color: #1c1c21;
    border-bottom: 0px solid #2C9AB7;
    position: fixed;
    z-index: 99999;
    left: 0px;
    vertical-align: middle;
	filter: drop-shadow(2px 4px 2px #000000);
}

header {
    max-width: 1200px;
    text-align: left;
    float: none;
    margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	filter: drop-shadow(1.5px 1.5px 2px #000000);
}

nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
	filter: drop-shadow(2px 4px 2px #000000);
}

header nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0s linear;
}

ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

ul li:hover a {
	color: #2C9AB7;
}

a {
	color: #FEFEFE;
	text-decoration: none;
}

a:hover {
	color: #C4C4C4;	
}

h2 {
  text-shadow: 2px 2px 1px #000000;
}

h4 {
  text-shadow: 1.5px 1.5px 1px #000000;
}

.logoMexico{
	filter: drop-shadow(2px 4px 2px #000000);	
}

.frontPageContainer {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

.frontPageImage {
	background-image: url("../images/zapopanNature.jfif");
	filter: drop-shadow(2px 4px 2px #000000);
	padding-top: 349px;
	padding-bottom: 380px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tekstvak1 {
	background-color: #252529;
	height: 290px;
	padding-right: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	border-top: 30px solid #1C1C21;
}

.titel1 {
	color: #FFFFFF;
	text-align: left;
	padding-left: 50px;
	padding-top: 50px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.tekst1 {
	color: #FFFFFF;
	text-align: left;
	padding-left: 50px;
	padding-bottom: 50px;
	width: 95%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


.titelSplits1 {
	color: #FFFFFF;
	text-align: left;
	padding-left: 0px;
	padding-top: 0px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.tekstSplits1 {
	color: #FFFFFF;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 50px;
	width: 95%;
	float: left;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

achtergrond {
	
	background-color: #1c1c21 !important;
	display: flow-root;
	
}


.kader_links {
	margin-top: 30px;
	width: 35.5%;
	text-align: left !important;
	display: inline-block;
	float: left;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts {
	margin-top: 30px;
	width: 45.5%;
	background-color: #252529 !important;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 50px;
	height: 320px;
}

.kader_links2 {
	margin-top: 30px;
	width: 43.75%;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts2 {
	margin-top: 30px;
	width: 45.5%;
	background-color: #2c2c30 !important;
	text-align: left !important;
	display: inline-block;
	float: left;
	padding: 50px;
	height: 320px;
}

.kader_links3 {
	margin-top: 30px;
	width: 43.75%;
	background-image: url("../images/minion.jfif");
	text-align: left;
	display: inline-block;
	float: left;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts3 {
	margin-top: 30px;
	width: 45.5%;
	background-color: #252529 !important;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 50px;
	height: 320px;
}

.kader_links4 {
	margin-top: 30px;
	width: 43.75%;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../images/zapopanNature.jfif");
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts4 {
	margin-top: 30px;
	width: 45.5%;
	background-color: #2c2c30 !important;
	text-align: left !important;
	display: inline-block;
	float: left;
	padding: 50px;
	height: 320px;
}
.kader_links {
	margin-top: 30px;
	width: 35.5%;
	text-align: left !important;
	display: inline-block;
	float: left;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts {
	margin-top: 30px;
	width: 45.5%;
	background-color: #252529 !important;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 50px;
	height: 320px;
}.kader_links {
	margin-top: 30px;
	width: 35.5%;
	text-align: left !important;
	display: inline-block;
	float: left;
	padding: 0px;
	height: 320px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: drop-shadow(3px 5px 2px #000000);
	
}

.kader_rechts {
	margin-top: 30px;
	width: 45.5%;
	background-color: #252529 !important;
	text-align: left !important;
	display: inline-block;
	float: right;
	padding: 50px;
	height: 320px;
}
.mapOpenLayers {
	width: 100%;
	height: 320px;
}

